.draft-container{
    position:relative;
}
.player-table-container{
    height:500px;
    overflow-y:scroll;
    width:550px;
}
.table-players{
    width: 525px;
    height: 667px;
    font-size: x-small;
    position:relative;
    top:0;
    left:0;
}
.table-players tr{
}
.table-players td{
    padding:2px !important;
}
.filter-positions{
    left: 100px;
    position: relative;
}
.player-info{
    position:absolute;
    left:570px;
    top:0px;
}
.universe_status{
    display:none;
}
.universe_status.alert-danger,.universe_status.alert-success{
    display:block;
}