.draft-container{
    position:relative;
    margin-top: 5px;
}
.player-table-container{
    height:600px;
    overflow-y:scroll;
    width:550px;
}
.table-players{
    width: 525px;
    position:relative;
    top:0;
    left:0;
}
.table-players tr{
}
.table-players td{
    cursor:pointer;
}
.filter-positions{
    left: 0px;
    position: relative;
}
.player-info{
    position:absolute;
    left:570px;
    top:0px;
}
.universe_status{
    display:none;
}
.universe_status.alert-danger,.universe_status.alert-success{
    display:block;
}
.stat-header{
    text-align:center;
    border-left:1px solid black;
    border-right:1px solid black;
}
.my_pick{
    background-color: pink !important;
}